/* Write your CSS here. */
.pf {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
}

.wgs {
  height: 241px;
  position: relative;
  width: 320px;
  display: inline-block;
  overflow: hidden;
}

.wgs__mole-head {
  height: 178px;
  position: absolute;
  width: 188px;
  top: 0px;
  left: 54.5px;
  transition: margin-top 0.25s;
}

.wgs__dirt-pile {
  height: 110px;
  position: absolute;
  width: 320px;
  top: 131px;
}

.wgs__mole-head--hidden {
  margin-top: 241px;
}
